// Majority of the names are gotten from http://chir.ag/projects/name-that-color/
$palette: (
  // Primary
  PrimaryDark: #d00371,
  PrimaryLightPink: #ed017f,
  PrimaryDarkPink: #e5077f,
  PrimaryVarOne: (#9a0052),
  PrimaryVarTwo: (#8b054d),
  PrimaryVarThree: (#94004f),
  PrimaryVarFour: (#b1015f),
  PrimaryVarFive: (#f84ca2),
  PrimaryVarSix: (#fa0084),
  PrimaryVarSeven: (#fa0084),
  lighterPink: (#ff1e4e),
  PrimaryVarEight: (#f178b6),
  PrimaryVarNine: (#ff8ac9),
  VeryLightPink: (#ef5da833),
  VeryLightPink2: (#ef5da8),
  ColorDeepPink: (#b3005f),
  DeepPurple: (#ed017f40),
  Bisque: (#ffe6cc),
  MagentaPink2: (#e41a80),
  MagentaPink3: (#ffdcef),
  LavenderBlush: (#fff3f8),
  White: (#ffff),
  WhiteVarOne: (#f7f7f7),
  WhiteVarTwo: (#f3fafc),
  WhiteVarThree: (#fff3f8),
  WhiteVarFour: (#fcfefe),
  WhiteVarFive: (#faf8f8),
  WhiteVarSix: (#dfdede),
  WhiteVarSeven: (#f1f1f1),
  WhiteVarEight: (#fffbf4),
  WhiteVarNine: (#f0f0f0),
  WhiteVarTen: (#f8fafd),
  // Gray
  Gray10: (#626262),
  GrayDark: (#939393),
  Gray99: (#828585),
  Gray99b: (#828894),
  Gray98: (#5e5e5e),
  Gray97: (#404040),
  Gray96: (#f5f6f8),
  Gray95: (#888888),
  Gray94: (#c8c8c8),
  Gray100: (#e0e0e7),
  Gray101: (#444d56),
  Gray102: (#363636),
  Gray103: (rgb(209 213 219)),
  Gray104: (#f5f5f5),
  Gray105: (#d8d8d8),
  GrayVarOne: (#f6f6f6),
  GrayVarTwo: (#dce0e3),
  GrayVarThree: (#787878),
  GrayVarFour: (#aeaeae),
  GrayVarFourB: (#eaeaea),
  GrayVarFive: (#757575),
  GrayVarSix: (#fff0f8),
  GrayVarSeven: (#e8f6eb),
  GrayVarEight2: (#e0e0e0),
  GrayVarNine: (#f2f2f2),
  ShuttleGray: (#5a6572),
  GrayVarEight: (#e5e5e5),
  GrayVarENine: (#bdbdbd),
  GrayVarTen: (#2d2d2d),
  GrayVarEleven: (#b5b5b533),
  GrayVarTwelve: (#f5f6f9),
  GrayVarThirteen: (#e7e7e7),
  GrayZero: #505050,
  GrayVal: (#606060),
  GrayInput: #dadada,
  GrayInputVarTwo: (#f9f9f9),
  GrayIcon: rgba(34, 34, 34, 0.06),
  GrayCopy: rgba(0, 0, 0, 0.12),
  // Blue
  Blue: (#6493c6),
  BlueBoston: (#397abf),
  BlueDark: (#35608f),
  BlueVarOne: (#1664e3),
  BlueVarTwo: (#3e608b),
  BlueVarThree: (#eff3f6),
  blueVarFour: (#f5f6f9),
  blueVarFive: (#f2f2f2),
  blueVarSix: (#f4f6fc),
  DeepBlue: (#1da1f2),
  DeeperBlue: (#1877f2),
  // Orange
  Orange: (#eda445),
  OrangeVarOne: (#e68500),
  OrangeVarTwo: (#fdf5e7),
  OrangeVarThree: (#e685004d),
  lightOrange: (#fbf2e2),
  // Green
  Green: (#4ab954),
  LightGreen: (#25d366),
  GreenOlive: (#61b32a),
  GreenVarOne: (#4a7443),
  GreenVarTwo: (#cff7df),
  GreenVarThree: (#4abb54),
  GreenVarFour: (#6fcf97),
  GreenVarFive: (#106b3b),
  GreenVarSix: (#2db76f33),
  // Red
  Red: (#d11414),
  RedVarOne: (#df3429),
  RedVarTwo: (#fae9e6),
  RedVarThree: (#df34294d),
  RedVarFour: (#feeae0),
  RedVarFive: (#f98947),
  Error: (#a0000b),
  //Silver
  Silver: (#bfbebe),
  //Black
  Black: (#000),
  BlackTwo: (#222222),
  BlackThree: (#979797),
  BlackFour: (#07020d),
  // Neutral
  NeutralN50: (#c1c7d0),
  NeutralN800: (#172b4d)
);
