// Import utilities
@import "utils/utils";

@import "mixins/mixins";
@import "colors";
@import "settings";

.mobileOnly {
  @include media(">tablet") {
    display: none !important;
  }
}

.tabletAndAboveOnly {
  @include media("<=tablet") {
    display: none !important;
  }
}

#nprogress .bar {
  background: #ed017f !important;
}

#nprogress .peg {
  box-shadow: 0 0 0.625rem #ed017f, 0 0 0.313rem #ed017f !important;
}

#nprogress .spinner-icon {
  border-top-color: #ed017f !important;
  border-left-color: #ed017f !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
